nav {
    background-color: #fafafa;
    height: 40px;
    padding-top: 20px;
}

nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    display: inline;
    padding: 2px;
}

li a {
    font-family: Calibri;
    color: #a238d0;
    text-decoration: none;
    margin: 0;
    height: 10px;
}

span {
    padding: 6px;
}

ul li:nth-child(n+3):nth-child(-n+4) a,
span+ul li:nth-child(-n+5) a {
    border: 1px solid #ededed;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 10px 6px 10px;
}

span+Ul li:nth-child(2) a{
    color: white;
    background-color: #a238d0;
}

ul li:nth-child(n+3):nth-child(-n+4) a:hover,
span+ul li:nth-child(-n+5) a:hover {
    background-color: #a238d0;
    color: white;
}

nav ul:first-child li:first-child a,
span+ul li:nth-child(6) a {
    margin-right: 20px;
}

nav ul:first-child li:nth-child(2) a,
span+ul li:nth-child(5) a {
    margin-right: 10px;
}
