NAV Ul {
    list-style-type: none;
    background: #a64dff;
    height: 35px;
}

NAV UL LI {
    float: left;
}

NAV UL LI A{
    font-family: Oswald, monospace;
    text-decoration: none;
    color: white;
    padding: 0 14.3px;
    line-height: 35px;
    display: block;
    height: 35px;
}

NAV UL LI A:hover {
    color: #9faabc;
    background: #edefee;
    box-shadow: 1px 1px #9faabc;
}

NAV UL LI:first-child {
    margin-left: 13px;
}

NAV UL LI:last-child {
    margin-left: 249px;
}


