<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="menu.css">
</head>
<body>
<ul class="menu">
  <li class="menu--item"><a href="#" class="menu--link" tabindex="0">KTSMshik</a></li>
  <li class="menu--item"><a href="#" class="menu--link" tabindex="0">KTSM01</a></li>
  <li class="menu--item"><a href="#" class="menu--link" tabindex="0">KTSM02</a></li>
  <li class="menu--item"><a href="#" class="menu--link" tabindex="0">KTSM03</a></li>
  <li class="menu--item"><a href="#" class="menu--link" tabindex="0">Feedback</a></li>
</ul>
</body>
</html>